/* General Purpose */

body {
    height: 100% !important;
    min-height: 100vh !important;
}

div#root, 
div.container-fluid,
div.container-fluid > .row,
div.container-fluid > .row > div[class^="col-"] {
    min-height: 100vh !important;
}

/* Container and Container Fluids */


/* Main Navigation Column */
#tabeon-main-nav-column {
    background: #f8f8f8;
    box-shadow: 5px 0px 0px 0px #e4e4e4;
}


.tabeon-nav-section {
    position: relative;
    width: 100%
}

    .tabeon-nav-section:not(:first-child) {
        margin: 2rem 0;
    }

    .tabeon-nav-section-title {
        border-bottom: 1px solid #7a1d8c;
        color: #282828;
        text-align: center;
    }

.tabeon-nav-link {
    display: block;
    padding: 0.3rem 1.5rem;
    text-align: center;
    color: #686868;
    box-shadow: 5px 0px 0px 0px #e4e4e4;
}

    .tabeon-nav-link.active {
        font-weight: bold;
        color: #c95cdf;
        box-shadow: 5px 0px 0px 0px #c95cdf;
    }

    .tabeon-nav-link.active:hover {
        text-decoration: none;
    }

    .tabeon-nav-link:not(.active):hover {
        color: #686868;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 5px 0px 0px 0px #b0b0b0;
    }

/* Full Width Load Bar */

#tabeon-loadbar {
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    background: #ffffff;
}

    #tabeon-loadbar > #filler {
        height: 100%;
        background: #7a1d8c;
    }

/*
    General Tabeon View Container
*/

#tabeon-view-container > .row {
    padding-left: 15px;
    padding-right: 15px;
}

/* 
    General Tabeon View Module
*/

.tabeon-module-container {
    position: relative;
    padding: 20px;
}

.tabeon-module-container .tabeon-module {
    border: 1px solid #d2d2d2;
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: 100%
}

.tabeon-module-container .tabeon-module * {
    pointer-events: none;
}

/* App Footer */

#app-footer {
    position: absolute; 
    width: 100%;
    text-align: right;
    bottom: 0;
    z-index:1000;
    font-size: 0.8rem;
    font-style: italic;
    color: #787878;
}

#app-footer > .col-12 {
    
}

/* Utils */

.btn-tabeon {
    color: #ffffff;
    background: #7a1d8c;
    border-color: #7a1d8c;
}