/* General Purpose */

body {
    height: 100% !important;
    min-height: 100vh !important;
}

div#root, 
div.container-fluid,
div.container-fluid > .row,
div.container-fluid > .row > div[class^="col-"] {
    min-height: 100vh !important;
}

/* Container and Container Fluids */


/* Main Navigation Column */
#tabeon-main-nav-column {
    background: #f8f8f8;
    box-shadow: 5px 0px 0px 0px #e4e4e4;
}


.tabeon-nav-section {
    position: relative;
    width: 100%
}

    .tabeon-nav-section:not(:first-child) {
        margin: 2rem 0;
    }

    .tabeon-nav-section-title {
        border-bottom: 1px solid #7a1d8c;
        color: #282828;
        text-align: center;
    }

.tabeon-nav-link {
    display: block;
    padding: 0.3rem 1.5rem;
    text-align: center;
    color: #686868;
    box-shadow: 5px 0px 0px 0px #e4e4e4;
}

    .tabeon-nav-link.active {
        font-weight: bold;
        color: #c95cdf;
        box-shadow: 5px 0px 0px 0px #c95cdf;
    }

    .tabeon-nav-link.active:hover {
        text-decoration: none;
    }

    .tabeon-nav-link:not(.active):hover {
        color: #686868;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 5px 0px 0px 0px #b0b0b0;
    }

/* Full Width Load Bar */

#tabeon-loadbar {
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    background: #ffffff;
}

    #tabeon-loadbar > #filler {
        height: 100%;
        background: #7a1d8c;
    }

/*
    General Tabeon View Container
*/

#tabeon-view-container > .row {
    padding-left: 15px;
    padding-right: 15px;
}

/* 
    General Tabeon View Module
*/

.tabeon-module-container {
    position: relative;
    padding: 20px;
}

.tabeon-module-container .tabeon-module {
    border: 1px solid #d2d2d2;
    border-radius: 0.5rem;
    height: 100%
}

.tabeon-module .tabeon-module-header {
    padding: 1rem 1rem 0.25rem 1rem;
}

.tabeon-module .tabeon-module-header-column-wrapper {
    border-bottom: 1px solid #d2d2d2;
}

.tabeon-module .tabeon-module-header-control {

}

.tabeon-module .tabeon-module-header > .col-10 {
    
}

.tabeon-module-header-control {
    text-align: right;
}

.tabeon-module-header-control-button {
    border: 0px;
    color: #585858;
    pointer-events: initial !important;
    white-space: nowrap;
    transition: initial !important;
    border: 0px !important;
}

.tabeon-module-header-control-button:active {
    margin: 0px;
}

.tabeon-module-header-control-button:hover span, .tabeon-module-header-control-button:active span {
    cursor: pointer;
    color: #c95cdf;

}

.tabeon-module .tabeon-module-body {
    padding: 1.5rem 1rem 0.25rem 1rem;
}

.tabeon-module .tabeon-module-footer > .col-12 {
    padding-top: 1rem;
    border-top: 1px solid #d2d2d2;
}


.tabeon-module .tabeon-module-footer {
    padding: 1.5rem 1rem 1.0rem 1rem;
}

.tabeon-module .tabeon-module-footer > .col-12 {
    text-align: right;
}

.tabeon-module-container .tabeon-module-header * {
    pointer-events: none;
}

/* App Footer */

#app-footer-adjuster {
    margin-top: 2rem;
}

#app-footer {
    position: absolute; 
    width: 100%;
    text-align: right;
    bottom: 0;
    z-index:1000;
    font-size: 0.8rem;
    color: #787878;
    padding-top: 1rem;
}

/* calendar module */

#tabeon-calendar {
    width: 100%
}

#tabeon-calendar thead th {
    text-align: center;
}

#tabeon-calendar tbody td {
    text-align: right;
    font-weight: bold;
    font-size: 0.75rem;
    color: #989898;
}

#tabeon-calendar tbody td {
    width: 14.2%;
    border: 1px solid #a0a0a0;
    padding: 0.5rem 0.5rem 3rem 3rem;
}

/* Utils */

.btn-tabeon {
    color: #ffffff;
    background: #7a1d8c;
    border-color: #7a1d8c;
    white-space: no-wrap;
}

.btn-tabeon:last-child {
    margin-left: 0.5rem;
}

.btn-tabeon-cancel {
    color: #7a1d8c;
    background: #ffffff;
    border-color: #7a1d8c;
    white-space: no-wrap;
}

.btn-tabeon:hover {
    color: #ffffff;
    background: #c95cdf;
    border-color: #c95cdf;
}

.btn-tabeon-cancel:hover {
    background: #e2e2e2;
    border-color: #e2e2e2;
    color: #444444;
}

.tabeon-hidden {
    display: none !important;
}

.tabeon-inline-block {
    display: flex !important;
}

.tabeon-no-border {
    border-bottom: 0px !important;
}